#renderer > section > * {
  width: 46%;
  display: inline-block;
}

#renderer > section > *:last-child {
  float: right;
}

.form-group label {
  width: 30%;
}


.switch.container {
  margin: 0 auto;
  padding: 40px;
  width: 80%;
  color: #333;
  background: #419be0;
}

.carouselInnerDiv {
  width: 200px;
}

.block_item > span .col-lg-10{
  float: none;
}

.form-group li.list-group-item {
  width: 220%;
}

.addBlock-control {
  float:right;
}
